---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout locale="de" title="Impressum" description="Angaben gemäß § 5 TMG.">
  <section class="py-12 prose dark:prose-invert max-w-none">
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>

    <h2>Kontakt</h2>
    <p>
      <strong>Kevin Mauel</strong><br />
      Bachstrasse 152<br />
      41747 Viersen<br />
      Deutschland
    </p>
    <p>
      E-Mail: kevin.mauel2@gmail.com
    </p>

    <h2>Verantwortlich für den Inhalt</h2>
    <p>Kevin Mauel (Anschrift wie oben), gemäß § 18 Abs. 2 MStV.</p>

    <h2>Haftungsausschluss</h2>
    <h3>Haftung für Inhalte</h3>
    <p>
      Die Inhalte dieser Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich jedoch keine Gewähr übernehmen. Als Diensteanbieter bin ich für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Ich bin jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
    </p>

    <h3>Haftung für Links</h3>
    <p>
      Diese Website enthält Links zu externen Webseiten Dritter, auf deren Inhalte ich keinen Einfluss habe. Deshalb kann ich für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich.
    </p>
  </section>
</BaseLayout>
